
.navbar{
    top: 0px;
    height: 100%;
    width: auto;
    background-color: #222222;
    color: #09090a;
   
}
.menu-container{
    
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: left;
    
}
.nav-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 15px;
    background-color: rgb(22, 182, 182);
    border-radius: 10%;
    box-shadow: 0 1px 4px black;

}
.nav-link:hover, .nav-link:focus{
    color: rgb(45, 79, 67);
    box-shadow: 0 1px 10px aquamarine;

}
.nav-link li{
    margin: 10px 0;
}

